$side-nav-width: 200px;

#app-sub-nav {
  width: $side-nav-width;
  position: fixed;
  left: $nav-width;
}

#app-sub-nav + article {
  padding-left: $side-nav-width;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  
  .sub-body {
    height: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  #app-sub-nav {
    left: 0;
  }
}