<form name="projectDetailsForm">
  <div class="row">
    <div class="col s7">
      <h4>Edit {{original.title}}</h4>
      <h6>Last Updated: <i>{{project.lastUpdated.toDate() | date:'short'}}</i></h6>
    </div>
    <div class="col s5">
      Live Site Visibility
      <div class="switch">
        <label>
          Hidden
          <input type="checkbox" ng-value="true" ng-model="project.hidden" ng-disabled="updating" />
          <span class="lever"></span> Visible
        </label>
      </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <input placeholder="Title" id="title" name="title" ng-model="project.title" type="text" required class="validate" />
      <label for="title">Title</label>
    </div>
    <div class="input-field col s12 m6">
      <input placeholder="completed" id="status" name="status" ng-model="project.status" type="text" class="validate" />
      <label for="status">Project Status</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <h5>Date Range</h5>
      <div class="divider"></div>
    </div>
    <div class="input-field col s12 m4">
      <input placeholder="MM/DD/YYYY" id="start-date" name="start-date" ng-model="project.startDate" type="date" class="validate datepicker" required />
      <label for="start-date" class="active">Start Date</label>
    </div>
    <div class="input-field col s12 m4">
      <input ng-value="true" id="current-work" name="current-work" ng-model="project.endCurrent" type="checkbox" class="validate" checked />
      <label for="current-work">Currently Working</label>
    </div>
    <div class="input-field col s12 m4">
      <input placeholder="MM/DD/YYYY" id="end-date" name="end-date" ng-model="project.endDate" type="date" class="validate datepicker" ng-disabled="project.endCurrent" />
      <label for="end-date" class="active">End Date</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Linking</h5>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="input-field col s11 m6 offset-s1">
        <input placeholder="Text" id="link-text" name="link-text" ng-model="project.linkText" type="text" class="validate" />
        <label for="link-text">Link Text</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 m6 offset-s1">
        <input placeholder="url" id="link-text" name="link-location" ng-model="project.linkLocation" type="url" class="validate" />
        <label for="link-location">Link Location (href)</label>
      </div>
    </div>
    <div class="row">
      <h6>Link Image</h6>
      <div class="input-field col s12 m6">
        <select ng-model="project.linkImageId" ng-disabled="allImagesList.length == 0 || project.linkImage.url" class="icons">
          <option value='' disabled selected>Choose your option</option>
          <option value="{{option.id}}" ng-repeat="option in allImagesList" data-icon="{{option.url}}" class="circle">{{option.name}}: {{option.label}}</option>
        </select>
        <label>Use Existing Image</label>
      </div>
      <div class="input-field col s12 m6">
        <div class="row">
          <div class="col s12">
            <p><b>New Image</b></p>
          </div>
        </div>
        <new-image ng-model="project.linkImage" disabled="project.linkImageId"></new-image>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <h5>Carousel Images</h5>
    </div>
    <div class="col s12 input-field">
      <div class="divider"></div>
      <div class="row img-grid">
        <img-preview img="image" add-classes="flex-item" index="$index" ng-repeat="image in project.images"></img-preview>
        <img-placeholder add-classes="flex-item" ng-if="!project.images || project.images.length == 0"></img-placeholder>
      </div>
      <div class="divider"></div>
    </div>
    <div class="input-field col s12 m6">
      <div class="row">
        <div class="col s12">
          <p><b>Add Image</b></p>
        </div>
      </div>
      <new-image ng-model="createImage" disabled="false"></new-image>
      <div class="row">
        <div class="col s6">
          <button type="button" class="btn waves-effect waves green lighten-3" ng-click="addImage()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="input-field col s12">
    <h5>Tags</h5>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12 m8" chip-field ng-model="project.tags">
    </div>
  </div>
  <div class="input-field col s12">
    <h5>Description</h5>
    <div class="divider"></div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Show Live Preview</h6>
        <div class="switch" ng-init="showPreview = false">
          <label>
            Off
            <input type="checkbox" ng-value="true" ng-model="showPreview">
            <span class="lever"></span> On
          </label>
        </div>
      </div>
      <textarea froala ng-model="project.description" required></textarea>
    </div>
  </div>
  <div class="row" ng-if="showPreview">
    <div class="col s12">
      <div froala-view="project.description"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col s4">
      <button class="btn btn-large waves-effect waves-light red left" type="button" name="delete" ng-click="delete()">Delete
        <i class="material-icons right">clear</i>
      </button>
    </div>
    <div class="col s4">
      <button class="btn btn-large waves-effect waves-light amber" type="reset" name="reset" ng-click="resetChanges()">Reset Changes
        <i class="material-icons right">clear</i>
      </button>
    </div>
    <div class="col s4">
      <button class="btn btn-large waves-effect waves-light orange right" type="submit" name="action" ng-click="updateProject()" ng-disabled="projectDetailsForm.$invalid">Update
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>